.navbar-brand {
    font-family: 'Lobster', cursive;
  }
  
  h1 {
    font-family: 'Lobster', cursive;
  }
  
  h2 {
    font-family: 'Courier';
  }
  
  .brandname {
    font-family: 'Lobster', cursive;
    font-size: larger;
  }
  